<app-navbar></app-navbar>
<head><meta charset="utf-8">
</head>
<div class="container message text-start bg-info bg-opacity-10 border border-info rounded col-md-2 position-absolute top-0 end-0"> 
    <p>Tip:</p> 
    <p>Tipo de usuario: 1 (admin) </p>
    <p>Tipo de usuario: 0 (normal) </p>
    </div>
<div class="container container2">
    <h1>Actualizar Usuario</h1>
    
    <a href="#" routerLink="/admini/admin" class="btn btn-dark">Regresar</a>
           
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
   
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
                formControlName="nombre"
                id="nombre"
                type="text"
                [(ngModel)]="usuario.nombre"
                class="form-control">
            <div *ngIf="f['nombre'].touched && f['nombre'].invalid" class="alert alert-danger">
                <div *ngIf="f['nombre'].errors && f['nombre'].errors['required']">El nombre es obligatorio.</div>
            </div>
        </div>
   
    
        <div class="form-group">
            <label for="email">Email:</label>
            <input
                formControlName="email"
                id="email"
                type="email"
                [(ngModel)]="usuario.email"
                class="form-control">
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">El Email es obligatorio.</div>
            </div>
        </div>
   
        <div class="form-group">
            <label for="tipo_usuario">tipo_usuario:</label>
            <input
                formControlName="tipo_usuario"
                id="tipo_usuario"
                type="number"
                [(ngModel)]="usuario.tipo_usuario"
                class="form-control">            
            <div *ngIf="f['tipo_usuario'].touched && f['tipo_usuario'].invalid" class="alert alert-danger">
                <div *ngIf="f['tipo_usuario'].errors && f['tipo_usuario'].errors['required']">Tipo de usuario es obligatorio.</div>
            </div>
        </div>
   
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Guardar</button>
    </form>
</div>