<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <h1 class="lead fw-normal mb-0 me-3">Registro</h1>
          </div>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!-- Nombre input -->
            <label class="form-label" for="form3Example3">Nombre</label>
            <div class="form-outline mb-4">
                <input
                formControlName="nombre"
                id="nombre"
                type="text"
                class="form-control form-control-lg">
            <div *ngIf="f['nombre'].touched && f['nombre'].invalid" class="alert alert-danger">
                <div *ngIf="f['nombre'].errors && f['nombre'].errors['required']">El nombre es obligatorio.</div>
            </div>

            </div>

        <!-- Email  input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form3Example3">Correo</label>
            <input
            formControlName="email"
            id="email"
            type="text"
            class="form-control form-control-lg">
        <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
            <div *ngIf="f['email'].errors && f['email'].errors['required']">El correo es obligatorio.</div>
        </div>

        </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Contraseña</label>
                <input
                formControlName="password"
                id="password"
                type="password"
                class="form-control form-control-lg">
            <div *ngIf="f['password'].touched && f['password'].invalid" class="alert alert-danger">
                <div *ngIf="f['password'].errors && f['password'].errors['required']">la contraseña es obligatoria.</div>
            </div>

            </div>
<!-- Password Confirmation input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Confirmar contraseña</label>
                  <label class="form-label" for="form3Example3">Confirmar contraseña</label>

                <input
                formControlName="password_confirmation"
                id="password_confirmation"
                type="password"
                class="form-control form-control-lg">
            <div *ngIf="f['password_confirmation'].touched && f['password_confirmation'].invalid" class="alert alert-danger">
                <div *ngIf="f['password_confirmation'].errors && f['password_confirmation'].errors['required']">la contraseña es obligatorio.</div>
            </div>
             </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Registrarse</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Ya tienes una cuenta? <a routerLink="/"
                  class="link-danger">Login</a></p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>
